@define-color base #f2f2f7;
@define-color mantle #d1d1d6;
@define-color crust #8e8e93;
@define-color base-glass rgba(242, 242, 247, 0.65);
@define-color mantle-glass rgba(209, 209, 214, 0.65);
@define-color crust-glass rgba(142, 142, 147, 0.65);

window {
  border-radius: 1rem;
  padding: 1rem;
  background-color: @base-glass;
}

#input {
  border-radius: 1rem;
  padding: 1rem;
  background-color: @base-glass;
}

